header {
    background: rgb(21,14,133);
background: linear-gradient(86deg, rgba(21,14,133,1) 0%, rgba(32,48,194,1) 23%, rgba(1,27,128,1) 100%);
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.image {
    width: 25%;
}

.textoslink {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px;
}

.coluna {
    width: 100%;
    float: left;
}

@media (min-width: 800px) {
    .coluna {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .coluna {
        width: 25%;
    }
}